{% extends 'base.html.twig' %}

{% block body %}
    <h1>Score</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ score.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ score.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ score.email }}</td>
            </tr>
            <tr>
                <th>Score</th>
                <td>{{ score.score }}</td>
            </tr>
            <tr>
                <th>Datecreated</th>
                <td>{% if score.dateCreated %}{{ score.dateCreated|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('score_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('score_edit', { 'id': score.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
