<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="How quick can you click? Test your button mashing mettle at ShmupSpeed.com!">
  <meta name="keywords" content="Shmup, Shoot em up, Shoot-em-up, Speed, Test, Shooting Watch, Shmup Watch, Watch, Timer, Click Speed">
  <meta name="author" content="Douglas Glover">
  <meta property="og:title" content="ShmupSpeed.com" />
  <meta property="og:url" content="http://www.ShmupSpeed.com" />
  <meta property="og:type" content="game" />
  <meta property="og:description" content="How quick can you click? Test your button mashing mettle at ShmupSpeed.com!" />
  <meta property="og:image" content="{{ asset('img/og_image.jpg') }}" />

  <title>{% block title %}ShmupSpeed{% endblock %}</title>
  <link rel="icon" type="image/x-icon" href="{{ asset('img/shmup.ico') }}" />
  {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css?v=11') }}">
  {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="{{ asset('js/controller.js') }}"></script>
  {#<script src="{{ asset('js/interact.js?v=7') }}"></script>#}
  <script src="{{ asset('js/interactions.min.js?v=9') }}"></script>
{% endblock %}
</body>
</html>
